body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

main {
  flex: 1 0 auto;
}

nav .brand-logo {
  padding-left:10px;
}

.hero {
  height:350px;
  background-image: url("../img/stock/beach/travel2.jpg");
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position-y: 530px;
  opacity: 0.95;
  box-shadow: 0px 5px 15px -5px;
}